{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "prettier/prettier": [
    "error",
    {},
    {
      "fileInfoOptions": {
        "withNodeModules": true
    }
  }
  ]
}